USE MASTER
GO

IF EXISTS(SELECT * FROM  SYSDATABASES WHERE NAME='QLTHUVIEN')
	
DROP DATABASE QLTHUVIEN
GO

CREATE DATABASE QLTHUVIEN
GO

USE QLTHUVIEN
GO
----------------------------------------

CREATE TABLE ACOUNT
(
	ACOUNTID INT NOT NULL IDENTITY,
	USERNAME VARCHAR(16) NOT NULL,
	PASSWORDS VARCHAR(16) NOT NULL,
	ROLES BIT NOT NULL,----1  admin , 0 là nv
	STATUSS BIT NOT NULL,
	CONSTRAINT PK_ACOUNT PRIMARY KEY(ACOUNTID)
)



CREATE TABLE TOPPIC
(
	TOPPICID INT NOT NULL IDENTITY,
	TOPPICNAME NVARCHAR(50) NOT NULL,
	CONSTRAINT PK_TOPPIC PRIMARY KEY(TOPPICID)
)



CREATE TABLE PUBLISHING_HOUSE
(
	PHID INT NOT NULL IDENTITY,
	PHNAME NVARCHAR(100)NOT NULL,
	CONSTRAINT PK_PUBLISHING_HOUSE PRIMARY KEY(PHID)
)


CREATE TABLE BOOK
(
	BOOKID INT  NOT NULL IDENTITY,
	NAME NVARCHAR(100) NOT NULL,
	PHID INT NOT NULL,
	TOPPICID INT NOT NULL,
	AUTHOR NVARCHAR(100) NOT NULL,
	DATES INT  NOT NULL,
	PAGENUMBER INT  NOT NULL CHECK(PAGENUMBER>5 AND PAGENUMBER<10001),
	PRICE MONEY NOT NULL CHECK(PRICE>999 AND PRICE<10000001),
	KEPTNUMBER INT NOT NULL CHECK(KEPtNUMBER>1 AND KEPTNUMBER<1001),
	LANGUAGES INT NOT NULL,-- Tiếng anh là 2, tiếng việt là 1, khác là 3
	CONSTRAINT PK_BOOK PRIMARY KEY(BOOKID),
	CONSTRAINT FK_BOOK_TOPPIC FOREIGN KEY(TOPPICID) REFERENCES TOPPIC,
	CONSTRAINT FK_BOOK_PUBLISHING_HOUSE FOREIGN KEY(PHID) REFERENCES PUBLISHING_HOUSE,
)

INSERT INTO ACOUNT VALUES('admin','admin',1,1)
INSERT INTO ACOUNT VALUES('doanhai','doanhai',0,1)

INSERT INTO TOPPIC VALUES(N'Sách Kinh Tế')
INSERT INTO TOPPIC VALUES(N'Sách Văn Học')
INSERT INTO TOPPIC VALUES(N'Sách Thiếu Nhi')


INSERT INTO PUBLISHING_HOUSE VALUES(N'Nhà xuất bản Chính trị Quốc gia')
INSERT INTO PUBLISHING_HOUSE VALUES(N'Nhà xuất bản Tư pháp')
INSERT INTO PUBLISHING_HOUSE VALUES(N'Nhà xuất bản Hồng Đức')


INSERT INTO BOOK VALUES(N'Hải Thượng Lãn Ông (2 Cuốn)',26,17,N'Lê Hữu Trác',2017,2475,830000,261,1)
INSERT INTO BOOK VALUES(N'Ung Thư - Sự Thật, Hư Cấu, Gian Lận Và Những Phương Pháp Chữa Lành Không Độc Hại',52,17,N'Ty Bollinger',2018,523,159000,150,1)
INSERT INTO BOOK VALUES(N'Nhà Giả Kim',32,15,N'Paulo Coelho',2013,228,69000,100,1)
